/* ======================= */
/* Badge de dificultad    */
/* ======================= */

.matchup-difficulty {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.matchup-difficulty-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    color: hsl(220, 4%, 45%);
    border: 1px solid hsl(222, 10%, 17%);
    border-radius: 50px;
}

.matchup-difficulty-title {
    margin: 0;
    font-weight: 600;
    padding: 5px 0px;
}

.matchup-difficulty-value {
    margin: 0;
    padding: 5px 10px;
    border-right: 1px solid hsl(222, 10%, 17%);
}

.matchup-difficulty-value:last-child {
    border-right: none;
}

.matchup-difficulty-value p {
    margin: 0;
}

/* Estilos para dificultades activas */
.matchup-difficulty-easy .matchup-difficulty-value:first-child {
    background-color: #00ff083d;
    border-radius: 50px 0px 0px 50px;
    color: var(--difficulty-easy);
    font-weight: 600;
}

.matchup-difficulty-medium .matchup-difficulty-value:nth-child(2) {
    background-color: #ff990050;
    color: var(--difficulty-medium);
    font-weight: 600;
}

.matchup-difficulty-hard .matchup-difficulty-value:nth-child(3) {
    background-color: #f443363d;
    color: var(--difficulty-hard);
    font-weight: 600;
}

.matchup-difficulty-extreme .matchup-difficulty-value:last-child {
    background-color: #9b27b03b;
    border-radius: 0px 50px 50px 0px;
    color: var(--difficulty-extreme);
    font-weight: 600;
}